*{
	margin:0;
	padding:0;
	}
	html{background-color:brown;
	}
	#button1 {
				border:5px solid aqua;
				margin-left:400px;
				margin-top:100px;
				padding:10px;
				background-color:pink;
	}
	#button2 {
				border:5px dotted green;
				margin-left:30px;
				padding:10px;
				background-color:pink;
	}
	#button3 {
				border:2px dashed red;
				margin-left:30px;
				padding:10px;
				background-color:pink;
	}
	#button4 {
				border:8px double yellow;
				margin-left:30px;
				padding:10px 30px;
				background-color:pink;
	}
	#button5 {
				border:2px solid aqua;
				margin-left:400px;
				padding:10px;
				border-radius:20px 10px 30px 50px; 
				background-color:gray;
	}
	#button6 {
				border:2px groove blue;
				margin-left:30px;
				padding:10px;
				background-color:gray;
				border-radius:20px 10px 30px 50px; 
	}
	#button7 {
				border:2px outset yellow;
				margin-left:30px;
				padding:10px 20px 30px;
				background-color:gray;
				border-radius:20px 10px 30px 50px; 
	}
	#button8 {
				border:2px inset gray;
				margin-left:30px;
				padding:10px;
				background-color:gray;
				border-radius:50px 10px 5px 30px; 
	}
	#button9 {
				border:2px solid yellow;
				margin-left:400px;
				padding:10px 5px 20px 30px;
				border:collapse;
				background-color:green;
	}
	#button10 {
				border:2px ridge red;
				margin-left:30px;
				padding:10px;
				border-radius:10px;
				background-color:green;
	}
	#button11 {
				border:2px solid aqua;
				margin-left:30px;
				padding:10px;
				background-color:green;
	}
	#button12 {
				border:2px solid aqua;
				margin-left:30px;
				padding:10px 20px 5px 15px;
				border-radius:70px;
				background-color:green;
	}